:root {
  /* ------ COLORS ------ */
  --color1: #d8f3dc;
  --color2: #b7e4c7;
  --color3: #95d5b2;
  --color4: #74c69d;
  --color5: #52b788;
  --color6: #40916c;
  --color7: #2d6a4f;
  --color8: #1b4332;
  --color9: #081c15;
}

:root * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  box-sizing: border-box;
  color: #0A1F0E;
}

body {
  height: 100vh;
  background: linear-gradient(var(--color9) 25%, var(--color1));
}

.calculator {
  margin: 100px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 520px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px hsl(0, 0%, 60%) inset,
              15px 15px 40px 0px hsl(189, 65%, 16%);
}

.top {
  display: flex;
}

p.prevAnswer, p.expression {
  font-size: 1.5rem;
}

p.prevAnswer {
  margin-right: auto;
  white-space: nowrap;
}

p.expression {
  text-align: right;
  margin-left: 10px;
}

.screen {
  margin: 2px 0 15px 0;
  padding: 0px 3px 0px 2px;
  flex: 1;
  font-size: 4.5rem;
  border: var(--color9) solid 4px;
  border-radius: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.clears {
  flex-basis: 11%;
  display: flex;
  justify-content: flex-end;
}

.clears p {
  flex: 1;
  align-self: flex-end;
  margin: 0 5px 10px;
}

.clears a {
  color: #00A6FB;
}

a:hover{
  color: red;
}

.input {
  flex-basis: 55%;
  display: flex;
}

.leftSide {
  flex-basis: 76%;
  display: flex;
  flex-wrap: wrap;
}

.operators {
  flex-basis: 24%;
  display: flex;
  flex-direction: column;
}

button {
  width: 96px;
  height: 50px;
  font-size: 2rem;
  border-radius: 15px;
  box-shadow: 3px 3px 2px 0px hsl(0, 0%, 20%) inset,
              3px 3px 3px 0px hsl(189, 65%, 16%);
}

.clears button {
  margin: 0 0 5px 6px;
}

.leftSide button {
  margin-right: 5px;
  margin-bottom: 5px;
}

.operators button {
  margin-bottom: 5px;
}

button.add {
  height: 105px;
}


/* ------ COLORS ------ */

.calculator {
  background: linear-gradient(var(--color1) 20%, var(--color6));
}

.number {
  background-color: white;
}

button:not(.number) {
  background-color: var(--color7);
  color: var(--color1);
}

.operators button, button.equals {
  background-color: var(--color9);
}

.clears button {
  background-color: var(--color5);
}

button.on {
  background-color: red;
}