* {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  box-sizing: border-box;
}

.calculator {
  margin: 40px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 520px;
}

h1 {
  flex-basis: 10%;
  margin: 0 auto;
}

.screen {
  padding: 0 5px 15px 0;
  flex-basis: 24%;
  font-size: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.power {
  flex-basis: 11%;
  display: flex;
  justify-content: flex-end;
}

.power p {
  flex: 1;
  align-self: flex-end;
  margin: 0 0 10px;
}

.input {
  flex-basis: 55%;
  display: flex;
  justify-content: space-between;
}

.leftSide {
  flex-basis: 76%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.operators {
  flex-basis: 24%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

button {
  width: 96px;
  height: 50px;
}

.power button {
  margin-left: 5px;
}

.leftSide button {
  margin-right: 5px;
  margin-bottom: 5px;
}

.operators button {
  margin-bottom: 5px;
}

button.add {
  height: 105px;
}

/* 
.calculator {
  background-color: lightblue;
}

h1 {
  background-color: bisque;
}

.screen {
  background-color: burlywood;
}

.power {
  background-color: lightgreen;
}

.leftSide {
  background-color: burlywood;
}
.operators {
  background-color: cornflowerblue;
} */