* {
  margin: 0;
  padding: 0;
  /* border: 0; */
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  box-sizing: border-box;
}

.calculator {
  margin: 40px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 520px;
}

.top {
  display: flex;
}

p.prevAnswer, p.expression {
  font-size: 1.5rem;
  font-weight: bold;
}

p.prevAnswer {
  margin-right: auto;
  white-space: nowrap;
}

p.expression {
  text-align: right;
  margin-left: 10px;
}

.screen {
  padding: 0 5px 15px 0;
  flex: 1;
  font-size: 4.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.power {
  flex-basis: 11%;
  display: flex;
  justify-content: flex-end;
}

.power p {
  flex: 1;
  align-self: flex-end;
  margin: 0 0 10px;
}

.input {
  flex-basis: 55%;
  display: flex;
}

.leftSide {
  flex-basis: 76%;
  display: flex;
  flex-wrap: wrap;
}

.operators {
  flex-basis: 24%;
  display: flex;
  flex-direction: column;
}

button {
  width: 96px;
  height: 50px;
  font-size: 2rem;
}

.power button {
  margin: 0 0 5px 6px;
}

.leftSide button {
  margin-right: 5px;
  margin-bottom: 5px;
}

.operators button {
  margin-bottom: 5px;
}

button.add {
  height: 105px;
}


.calculator {
  background-color: lightblue;
}

button.on {
  background-color: red;
}

/* 

.top {
  background-color: bisque;
}

.screen {
  background-color: burlywood;
}

.power {
  background-color: lightgreen;
}

.leftSide {
  background-color: burlywood;
}
.operators {
  background-color: cornflowerblue;
}  

*/